ul { padding:0; width:780px; margin:20px auto}
li { display:inline;}
.tn{ 
	   margin:2px 0px;
	   box-shadow:#999 1px 1px 3px 1px; 
	   cursor: pointer ;
	   border-radius: 7px;

 }
 .modal-content {
	 width:auto !important;
    height: auto;
    position: absolute;
    top: 20px;
    left: -350px;
    opacity: 1;
	overflow: visible;
}

