*{
    font-family: 'Courgette', cursive;
}

#logo{
    width: 130px;
    height: 60px;
}


  #about{
    height: 455px;
    width: 100%;
    color: #fff;
    align-content: center;
    background-color: rgba(215, 154, 44, 0.5);
    #cont-title h2{
        text-align: center;
        margin-top: 50px;
    }
    #cont-body{
        text-align: center;
        font-size: 20px;
        width: 500px;
    }
}

#text-info{
    text-align: center;
    text-justify: auto;
    font-size: 20px
}
#gallery{
    height: 800px;
    color: #fff;
    background-color: rgba(211,211,211,0.3);
    #cont-title h2{
        text-align: center;
        margin-top: 50px;
    }
}



#menu{

    height: 1000%;
    color: #fff;
    background-color: rgba(150, 74, 54, 0.9);
    h2{
        text-align: center;
        margin-top: 60px;

    }
}

#contactenos{

    height: 460px;
    color: #fff;
     background-color: rgba(211,211,211,0.3);
    h2{
        text-align: center;
        margin-top: 60px;

    }
}


#reserved{

    height: 100%;
    color: #fff;
     background-color: rgba(0, 125, 34, 0.3);
    h2{
        text-align: center;
        margin-top: 60px;

    }
}
ul#nav-menu {
    border-bottom: none;
    text-align: center;
    li#li-menu {
        border: 2px solid rgba(226, 162, 35, 0.7);
        border-radius: 10px;
        margin: 10px;
        font-size: 20px;
        color: white;

    }
  
}
.nav-link{
    color: white
}
.nav-link .active {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
}
.nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    border-radius: 10px;
}
#cont-title{
 
}

#cont-img {
    width: 80px;
    height: 80px;
    border: 0px solid rgba(226, 162, 35, 0.7);
    border-radius: 360px;
    background-color: rgba(226, 162, 35, 0.7);
    background: rgba(226, 162, 35, 0.7);
    position: absolute;
    margin-top: -40px;
    
    img{
        margin: 11px;
    }
}
li#list-menu {
    background-color: transparent;
    border: none;
    font-size: 18px
}
#title-carousel{
    font-size: 50px
}
#input-control{
    background-color: transparent;
    border: 2px solid  white;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
#input-control:placeholder{
color: white
}

#input-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
color:white;
}

button#btn-send {
    background-color: rgba(150, 74, 54, 0.9);
    border: 1px solid rgba(150, 74, 54, 0.9);
    border-radius: 15px;
}

button#btn-reserva {
    background-color: rgba(150, 74, 54, 0.9);
    border: 1px solid rgba(150, 74, 54, 0.9);
    border-radius: 15px;
    font-size: 25px;
    color: #dae0e5;
    margin-top: 10px;
    margin-left: -40px;
}

img.d-block.w-100 {
    height: 1000px;
}
ol.breadcrumb {
    background-color: transparent;
}

#cont-img2 {
    width: 50px;
    height: 50px;
    border: 0px solid rgba(150, 74, 54, 0.9);
    border-radius: 360px;
    background-color: rgba(150, 74, 54, 0.9);
  
    float: left;
    img{
        margin: 11px;
        width: 30px;
        height: 30px;
    }
}
#cont-img3 {
    width: 50px;
    height: 50px;
    border: 0px solid rgba(150, 74, 54, 0.9);
    border-radius: 360px;
    background-color: rgba(150, 74, 54, 0.9);
    float: right;
    margin-left: 5px;
    img{
        margin: 11px;
        width: 30px;
        height: 30px;
    }
}

.imgs {
    width: 110px;
    margin: auto;
}

h4{
  color:  rgba(226, 162, 35, 0.7); 
}
