<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <img id="logo" src="assets/logo.jpg" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="my-10 my-lg-2">

  </div>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav  ">
      <li class="nav-icd tem active">
        <a class="nav-link" href="#about">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery">Galeria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactenos">Reservas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="#reserved">Contactenos</a>
      </li>


    </ul>

  </div>
</nav>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img1.jpg" alt="First slide" width="100px">
      <div class="carousel-caption d-none d-md-block">
        <h1 id="title-carousel">Disfruta</h1>
        <p>De un gran ambiente en la ciudad amurallada</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/mesa2.jpg" alt="Second slide" width="100px">
      <div class="carousel-caption d-none d-md-block">
        <h1 id="title-carousel">Reserva tu mesa</h1>
        <p>Solicita tu reserva y disfruta con tu familia o amigos</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img3.jpg" alt="Third slide" width="100%">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row  justify-content-center" id="about">
  <!-- <div id="cont-img" class="justify-content-center">
       <img src="assets/imgmenu.png" width="60" height="60"/>
      </div>-->
  <div class="col-md-8 justify-content-center">
    <div id="cont-title">

      <h2>Chambacú Restaurante</h2>



    </div>
    <div class="col-md-12 align-middle">

      <p class="text-center" id="text-info">
        Chambacú Restaurante le ofrece un gran ambiente,en la zona turística de la ciudad amurallada; lo mejor de la comida típica
        e internacional, disfruta los fines de semana de música en vivo para que tu momento de diversión sea mas placentero.
        Si visitas Cartagena de Indias no dejes de visitar Chambacú Restaurante, te esperamos
      </p>


      <div class="imgs">

        <div id="cont-img2">
          <img src="assets/facebook-logo.png" width="60" height="60" />
        </div>
        <div id="cont-img3">
          <img src="assets/instagram.png" width="60" height="60" />


        </div>

        <a href="#contactenos"><button type="button" class="btn btn-primary" id="btn-reserva">Reserva tu mesa</button></a>

      </div>


    </div>



  </div>

</div>

<div class="row  justify-content-center" id="gallery">
  <!-- <div id="cont-img" class="justify-content-center">
        <img src="assets/imgmenu.png" width="60" height="60"/>
       </div>-->

  <div id="cont-img">
    <img src="assets/camera.png" width="60" height="60" />
  </div>
  <div class="col-md-8 ">
    <div id="cont-title">

      <h2>Galeria</h2>



    </div>

    <app-gallery [datasource]=images></app-gallery>


  </div>

</div>



<div class="row  justify-content-center" id="menu">
  <div id="cont-img">
    <img src="assets/imgmenu.png" width="60" height="60" />
  </div>
  <div class="col-md-10 ">
    <div id="cont-title " class="justify-cntent-center">


      <h2>Menu</h2>

    </div>

    <ul class="nav nav-tabs justify-content-center" id="nav-menu" role="tablist">
      <li class="nav-item" id="li-menu">
        <a class="nav-link" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bebidas</a>
      </li>
      <li class="nav-item" id="li-menu">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Licores</a>
      </li>
      <li class="nav-item" id="li-menu">
        <a class="nav-link" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Entrada</a>
      </li>
    </ul>
    <div class="col-md-12  justify-content-center">

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active justify-content-center" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class=" col-xs-12 col-md-6">
              <ul class="list-group">
                <li class="list-group-item" id="list-menu" *ngFor="let d of drinks">{{d.name}} ...........................................................................................{{d.price}}
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <h4>Otras</h4>
              <ul class="list-group">
                <li class="list-group-item" id="list-menu" *ngFor="let d of otherdrinks">{{d.name}} ...........................................................................................{{d.price}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
         <div class="row">

          <div class="col-xs-12 col-md-6">
              <h4>Vinos</h4>

            <ul class="list-group">
              <li class="list-group-item" id="list-menu" *ngFor="let d of wines">{{d.name}} ...........................................................................................{{d.price}}
              </li>
            </ul>
          </div> 
          <div class="col-xs-12 col-md-6">
              <h4>Rones</h4>

            <ul class="list-group">
              <li class="list-group-item" id="list-menu" *ngFor="let d of rones">{{d.name}} ...........................................................................................{{d.price}}
              </li>
            </ul>
          </div>

          <div class="col-xs-12 col-md-6">
              <h4>Whisky</h4>

            <ul class="list-group">
              <li class="list-group-item" id="list-menu" *ngFor="let d of whiskies">{{d.name}} ...........................................................................................{{d.price}}
              </li>
            </ul>
          </div>

          <div class="col-xs-12 col-md-6">
              <h4>Vodka - Ginebra - Tequilas</h4>

            <ul class="list-group">
              <li class="list-group-item" id="list-menu" *ngFor="let d of otherliquors">{{d.name}} ...........................................................................................{{d.price}}
              </li>
            </ul>
          </div>

        
        </div>


        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
           <div class="col-md-12">

              <ul class="list-group">
                  <li class="list-group-item" id="list-menu" *ngFor="let d of entradas">{{d.name}} ...............................................................................................................................{{d.price}}
                    <br>
                    <p>{{d.description}}</p>
                  </li>
                </ul>
           </div>
          </div>
        </div>
    
    </div>
  </div>
  </div>

</div>

<div class="row  justify-content-center" id="contactenos">
  <!-- <div id="cont-img" class="justify-content-center">
        <img src="assets/imgmenu.png" width="60" height="60"/>
       </div>-->

  <div id="cont-img">
    <img src="assets/reserved.png" width="60" height="60" />
  </div>
  <div class="col-md-8 ">
    <div id="cont-title">

      <h2>Reserva tu mesa</h2>



    </div>

    <form>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" id="input-control" aria-describedby="emailHelp" placeholder="Nombre">
        </div>
        <div class="col">
          <input type="email" class="form-control" id="input-control" aria-describedby="emailHelp" placeholder="Correo electronico">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" id="input-control" aria-describedby="emailHelp" placeholder="Telefono">
        </div>
        <div class="col">
          <input type="number" class="form-control" id="input-control" aria-describedby="emailHelp" placeholder="Cantidad de persona">
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <input type="date" class="form-control" id="input-control" aria-describedby="emailHelp" placeholder="Fecha">
        </div>
        <div class="col">
          <input type="datetime" class="form-control" id="input-control" aria-describedby="emailHelp" placeholder="Hora">
        </div>
      </div>

      <div class="form-group">
        <textarea class="form-control" id="input-control" rows="3"></textarea>

      </div>

      <button type="submit" class="btn btn-primary" id="btn-send">Enviar</button>

    </form>



  </div>

</div>

<div class="row  justify-content-center" id="reserved">
  <!-- <div id="cont-img" class="justify-content-center">
        <img src="assets/imgmenu.png" width="60" height="60"/>
       </div>-->

  <div id="cont-img">
    <img src="assets/pin.png" width="60" height="60" />
  </div>
  <div class="col-md-8 ">
    <div id="cont-title">

      <h2>Informacion de contacto</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <ul class="list-group">
            <li class="list-group-item" id="list-menu">
              <span class="oi oi-map-marker"></span> Centro Calle de La Iglesia N° 35-55 | Centro, Cartagena 130001, Colombia</li>
            <li class="list-group-item" id="list-menu">+57 300 2938391</li>
            <li class="list-group-item" id="list-menu">Cartagena</li>
          </ul>

          <h3>Horarios de atencion</h3>
          <ul class="list-group">
            <li class="list-group-item" id="list-menu">Domingo 3:00 p.m. - 10:00 p.m.</li>
            <li class="list-group-item" id="list-menu">Lunes 9:00 a.m. - 11:45 p.m.</li>
            <li class="list-group-item" id="list-menu">Martes 9:00 a.m. - 11:59 p.m.</li>
            <li class="list-group-item" id="list-menu">Miércoles 9:00 a.m. - 11:59 p.m.</li>
            <li class="list-group-item" id="list-menu">Jueves 9:00 a.m. - 11:59 p.m.</li>

            <li class="list-group-item" id="list-menu">Viernes 9:00 a.m. - 11:59 p.m.</li>

            <li class="list-group-item" id="list-menu">Sábado 9:00 a.m. - 11:59 p.m.</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">

          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

          </agm-map>
        </div>
      </div>


    </div>



  </div>

</div>

<div class="row  justify-content-center" id="social">
  <!-- <div id="cont-img" class="justify-content-center">
          <img src="assets/imgmenu.png" width="60" height="60"/>
         </div>-->


</div>