/* You can add global styles to this file, and also import other style files */

agm-map {
    height: 100%;
    border-radius: 15px;
  }

  body{
    background: url(/assets/back2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
         -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;   
 }

 